<ion-view view-title="QUIMICA">
  <ion-content class="padding bar-color borde">
    <h2><center>LA IMPORTANCIA DEL AGUA EN EL CUERPO HUMANO</center></h2>
    
    <p><center class="t">
     La mayor parte del peso corporal está formado por agua, participando en funciones vitales para la la salud , tales como:
     Limpiar las impurezas,
  Regular la temperatura del cuerpo,
  Ayuda al correcto funcionamiento del cerebro.Lo recomendable es beber unos 2 litros de agua al día.<h2>RAZONES POR LAS QUE EL AGUA ES IMPORTANTE</h2>

 <p><center class"A">
1 – Ayuda a crear saliva.

2 – Regula la temperatura del cuerpo.

3 – Protege los tejidos, la médula espinal y las articulaciones.

4 – Ayuda a eliminar desechos a través de la transpiración, de la micción y de la defecación.

5 – Contribuye a mejorar el rendimiento físico afectando a la fuerza, potencia y resistencia.

6 – Previene el estreñimiento. Junto con magnesio y buena cantidad de fibra diaria.

7 – Ayuda a hacer la digestión, aprovechando al máximo los nutrientes de la comida.

8 – Ayuda a perder peso.

9 – Mejora la circulación sanguínea y el correcto transporte del oxigeno.

10 – Previene enfermedades o problemas tales como el asma, el estreñimiento, la hipertensión o problemas de infección en el tracto urinario.</center>
          <iframe src="https://www.youtube.com/watch?v=bI2td8K_o-4" width="700" height="400" class="espacio"></iframe>
     </p>
         <h2>FECUNDACION DESARROLLO DEL EMBRION Y METODOS ANTICONCEPTIVOS</h2>
         <P> <center class="B">Fecundacion interna: Este tipo de fecundación es el que todos conocemos que el feto se desarrolla en el utero de la madre.
Fecundación externa: Este tipo de fecundación como en los peces el espermatozoide y el ovulo salen de los progestores y el bebe se desarrolla en el agua.
Fecundación de in vitro: Este tipo de fecundación es como una fecundación externa pero se mira la ovulacion de la mujer.LA FECUNDACION La fecundacion es un proceso el cual se juntan un ovulo y un espermatozoide para crear un nuevo ser, el finde esto es que provengan de los progenitores. La fecundacion empieza cuandolos espermatozoides ingresan a la vagina durante el coito y se desplazan hasta llegar a las trompas de Falopio, una vez allí se une al óvulo y lo fecunda.

         </center>
           
         </P>

=        
  </p>
  <iframe src="https://www.youtube.com/watch?v=bI2td8K_o-4" width="750" height="400" class="espacio"></iframe>
  </ion-content>
</ion-view>