<ion-view view-title="TABLA NUTRICIONAL">
  <ion-content class="fondo1">
    <h2><center>TABLA NUTRICIONAL</center></h2>
    
    <p><center class="F">
     La adolescencia es un periodo de crecimiento
acelerado con un aumento muy importante
tanto de la talla como de la masa corporal.
Además, en relación con el sexo, tiene lugar
un cambio en la composición del organismo
variando las proporciones de los tejidos libres
de grasa, hueso y músculo fundamentalmente,
y el compartimiento graso. De este modo se
adquiere el 40-50% del peso definitivo, el
20% de la talla adulta y hasta el 50% de la
masa esquelética. Los varones experimentan
un mayor aumento de la masa magra tanto en
forma absoluta como relativa, y en las mujeres
se incrementa, sobre todo, la masa grasa. Estos
cambios tienen un ritmo de desarrollo variable según el individuo, lo que origina un
aumento de las necesidades nutricionales más
en relación con la edad biológica que con la
cronológica, y en mayor grado en los chicos
que en las chicas.</center></p>
  <center> <img src="../img/nutri.gif" width="400" height="2600"></center>
  </ion-content>
</ion-view>
