<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="VIDEO" icon-off="ion-play" icon-on="ion-play" href="ion-play">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="TABLA NUTRICIONAL" icon-off="ion-pizza" icon-on="ion-pizza" href="ion-pizza">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="ADN" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="ion-person-stalker">
    <ion-nav-view name="tab-accout"></ion-nav-view>
  </ion-tab>

   <!-- Infografia Tab -->
  <ion-tab title="INFOGRAFIA" icon-off="ion-edit" icon-on="ion-edit" href="ion-edit">
    <ion-nav-view name="tab-infografia"></ion-nav-view>
  </ion-tab>


</ion-tabs>
